<div class="fb-page" data-href="{$link}" data-tabs="{$tabs}" data-width="{$width}" data-height="{$height}" data-small-header="{$smallHeader}" data-adapt-container-width="true" data-hide-cover="{$hideCover}" data-show-facepile="{$faces}"></div>
