<div class="fb-page" data-href="{$link}" data-tabs="{$tabs}" data-width="{$width}" data-height="{$height}" data-small-header="{$smallHeader ? 'true' : 'false'}" data-adapt-container-width="true" data-hide-cover="{$hideCover ? 'true' : 'false'}" data-show-facepile="{$faces ? 'true' : 'false'}"></div>
