<div class="fb-share-button" data-href="{$link}" data-layout="{$layout}" data-size="{$size}" data-mobile-iframe="{$mobileFrame}">
	<a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={$link}">Share</a>
</div>
